<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body>
    {% include "header.html" %}

    
        {% if session %} 
        <h2 class="header">Form</h2>
        <!--
        <div class="form">
                <form method="post" action="/category/{{ num_cat }}" enctype="multipart/form-data" class="button_cent">
                    {% csrf_token %}
                        <table>
                            {{ form }}
                        </table>
                    <input type="submit" value="Send" class="btn" id="formSend" />
                </form>
        </div>-->
        {% endif %}   
        <content>
        {% include "leftside.html" %}
        <aside class="rightSide">
            <h2 class="header">category {{ num_cat }}</h2>
                <div class="posts">
                   
                    {% for post in page_obj %}
                        <div class="post">  
            
                            <div class="textPost">
                                <p>{{ post.textdata }}</p> 
                            </div>
                            
                            <div class="imagePost">
                                <p>№{{ post.id }}</p>
                                <p>User:{{ post.user }}</p>
                                <p>data:{{ post.time }}</p>

                                {% if post.image %}  
                                <a href="/myProject/media/{{post.image}}" target="_blank">
                                    <img src="/myProject/media/{{post.image}}" width="100" height="100">
                                </a>
                                {% endif %}
                                <br /><a href="/posts/{{ post.id }}" class="btn" >Show post</a>
                            </div>

                           
                            
                        </div>
                        {% empty %}  
                        
                    
                    {% endfor %}
                </div>
        </aside>
    </content>
    {% include "pagination.html" %}
</body>
<script>
document.getElementById('formSend').onclick = function() {
    location.reload(); // перезагружаем страницу
}
</script>
</html>
