<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body>
    {% include "header.html" %}

    
        {% if session %} 
        <h2 class="header">Form</h2>
        <div class="form">
                <form method="post" action="/" enctype="multipart/form-data" class="button_cent">
                    {% csrf_token %}
                        <table>
                            {{ form }}
                        </table>
                    <input type="submit" value="Send" class="btn" />
                </form>
        </div>
        {% endif %}   
    
        <h2 class="header">Posts</h2>
        <div class="posts">
           
            {% for post in page_obj %}
                <div class="post">
    
                    <div class="textPost">
                        <p>id:{{ post.id }}</p><p>user:{{ post.user }}</p><p>text:{{ post.textdata }}</p> <a href="/posts/{{ post.id }}">Зайти в обсуждение</a>
                    </div>
                    
                    <div class="imagePost">
                        {% if post.image %}  
                        <a href="/myProject/media/{{post.image}}" target="_blank">
                            <img src="/myProject/media/{{post.image}}" width="100" height="100">
                        </a>
                        {% endif %}  
                    </div>
                   
                    
                </div>
                {% empty %}
                    <p>Dont has posts</p>   
                
            
            {% endfor %}
        </div>
    
    {% include "pagination.html" %}
</body>
</html>