<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body>
    {% include "header.html" %}

        {% if session %} 

        <div class="post profile">
            <p>User: {{ user }}</p>
            {% if img %}  
            <a href="/myProject/media/{{img}}" target="_blank">
                <img src="/myProject/media/{{img}}" width="100" height="100">
            </a>
            {% endif %}  
            
            <form method="post" action="/profile/" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <input type="submit" value="Set image" class="btn profile_btn" id="formSend" />
             </form>
             <a href="/" class="btn profile_btn" >Back</a>
        </div>
        
            
        
        
            
        {% else %}
            <div class="post profile">User not logged in</div> 
            <a href="/" class="btn" >Back</a>
        {% endif %}   
    </div>
</body>
</html>
