<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body>
    {% include "header.html" %}
   
    {% if session %} 
    {% include "form.html" %}
    {% endif %}
	<div class="post">
	<div class="textPost">
        	<p>{{ post.text }}</p> 
        </div> 


    <div class="imagePost">
        <p>№{{ post.id }}</p>
        <p>User:{{ post.name }}</p>
        <p>data:{{ time }}</p>

	{% if post.image %}  
       	<a href="/myProject/media/{{post.image}}" target="_blank">
           <img src="/myProject/media/{{post.image}}" width="100" height="100">
	</a>
	
       	{% endif %}
	<br>
	<a href="/" class="btn">Back</a>

	
    </div>



	
</div>

        {% for post in subposts %}
           <div class="post comments">
               <div class="textPost">
                   <p>{{ post.textdata }}</p>
               </div>
              <!-- 
               <div class="imagePost">
                   {% if post.image %}  
                    <a href="/myProject/media/{{post.image}}" target="_blank">
                       <img src="/myProject/media/{{post.image}}" width="100" height="100">
                    </a>
                   {% endif %}  
               </div>-->
              <div class="imagePost">
                <p>№{{ post.id }}</p>
                <p>User:{{ post.user }}</p>
                <p>data:{{ post.time }}</p>

                {% if post.image %}  
                  <a href="/myProject/media/{{post.image}}" target="_blank">
                    <img src="/myProject/media/{{post.image}}" width="100" height="100">
                  </a>
                {% endif %}
                  
                </div>
               
           </div>
           {% empty %}
           {% endfor %}                
            
            
        
</body>
<script>
document.getElementById('formSendSub').onclick = function() {
    window.location.href = "/posts/" + {{ post.id }};
}
</script>
</html>
